/* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

* {
	background:			#282A2E;
	background-alt:		#373B41;
	foreground:			#C5C8C6;
	selected:			#F0C674;
	highlight:			#DF6B74;
	urgent:				#e06c75;
	on:					#98c379;
	off:				#e06c75;
}
